__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
*.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.vscode
.idea
static
*.db
data
*.csv
ssh.key
secret-cli
*.json
!bqmigrations/*.json
*.pem
celery_data
control
pulumi
base.egg-info
*.code-workspace
.secret.txt
k8s